{% extends 'student_register/base.html' %} {% block content %}

<div class="table-responsive d-flex justify-content-center mt-5">
  <table class="table w-25">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Path</th>
        <th scope="col">
          <button class="btn btn-success">
            <a
              href="{% url 'form' %}"
              style="color: #fff; text-decoration: none"
              >+ Add New</a
            >
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{student.Full_Name}}</td>
        <td>{{student.Path}}</td>
        <td>
          <a href="{% url 'delete' student.id %}" class="me-1" style="color: #000; text-decoration: none"><i class="fa fa-trash" aria-hidden="true"></i></a>
          <a href="{% url 'update' student.id %}" style="color: #000; text-decoration: none"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
